{% extends 'base.html' %}

<!-- 제목 블럭 Start (기본값 My Blog Page) -->
{% block title %}
album_list.html
{% endblock%}
<!-- 제목 블록 End -->

<!-- 스타일 블록  Start -->
{% block extra-style %}
<style>
    .thumbnail{
        border:3px solid bisque;
        border-radius: 10px;
    }
    .thumbnail:hover {
        transform : scale(1.3);
    }
</style>
{% endblock %}
<!-- 스타일 블록  End -->

<!-- 콘텐츠 블록 Start -->
{% block content %}
    
    {% for item in object_list %} 

    <div class="mt-5">
        <a class="h2" href="{% url 'photo:album_detail' item.id %}">
        {{item.name}}</a>&emsp;
        <span class="font-italic h5">{{item.description}}</span>
    </div>

    <hr style="margin : 0 0 20px 0;">

    <div class="row">
        {% for photo in item.photo_set.all|slice:":4"%}
        <div class="ml-5">
            <div class="thumbnail">
                <a href="{{photo.get_absolute_url}}">
                    <img src="{{photo.image.thumb_url}}" style="width:200px">
                </a>
            </div>
        </div>
        {% endfor%}
    </div>
    {% endfor %}
{% endblock %}
<!-- 콘텐츠 블록 End -->

<!--  스크럽트 블록 Start -->
{% block extra-script %}
{% endblock %}
<!--  스크럽트 블록 End -->